@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>See the table with some <a asp-controller="Tables" asp-action="People">People</a>.</p>
</div>
