<h5 class="text-center">People Table</h5>

<div class="text-center">
    <button id="loadPeople" type="button" class="btn btn-primary">Load People</button>
    <div id="busyIndicator" class="lds-dual-ring d-none"></div>
</div>

<table id="peopleTable" class="table table-striped">
   
</table>

@section Scripts
{
    <script src="~/js/loadPeople.js"></script>
}
